/* --------- content ---------*/

#content section{
	background-color: #fff;
	padding: 0px;
	margin-bottom: 15px;
	border-bottom: 7px solid #bc5100;
	background-position: center bottom; 
	background-repeat: repeat-x;
	border-radius: 25px 25px 7px 7px;
	overflow: hidden;
	text-align: left;
}
#content section 
{
	min-height: 400px;
}
#content section.small
{
	min-height: 0px;
}
#content section .double 
{
	min-height: 800px;
}
#content section .triple 
{
	min-height: 1200px;
}
#content section .quadruple 
{
	min-height: 1600px;
}
#content section.heading 
{
	text-align: center;
	min-height: 400px;
	background-color: #fbc02d;
	color:#bc5100;
	border-bottom: 7px solid #ffa726;
}
#content section.opdracht 
{
	min-height: 400px;
	background-color: #fbc02d;
	color:#fff;
}
#content section.opdracht p
{
	color: #bc5100;
}

#content .align-right{
/*	background-color: rgba(0,0,0,0.1);*/
	width: 100%;
	padding: 15px  0 15px 15px;
	text-align: right;
}
#content .popup
{
	position: fixed;
	width: 500px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-top: -200px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	border:5px solid #E0792B;
	background-color: #fff !important;
	z-index: 5;
}
#content .lesson-image
{
	display: inline-block;
	width: 100px;
	height: 100px;
	overflow: hidden;
}
#content .lesson-theory
{
	padding: 15px;
	display: inline-block;
	width: calc(100% - 220px);
	height: 100px;
	overflow: hidden;
	background-color: #fff;
}
#content .lesson-excercise
{
	display: inline-block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-color: #fff;
}
#content .lesson{
	padding: 5px 0px 0px 5px;
	background-color: #ddd;
	margin-bottom: 5px;
}
#content .lesson-button{
	display: inline-block;
	width: 100px;
	overflow: hidden;
	height: 60px;
	margin: 0 0 1px 1px;
	line-height: 60px;
	background-color: #ffb04c;
	color: #fff !important;
}
#content .lesson-button.active{
	background-color: #bc5100 !important;
}

#content .lesson:nth-child(even){
	background-color: #eee;
}
#content def{
	font-weight: 600;
}
@media only screen and (max-width: 600px) {
#content .lesson-theory
{
	width: calc(100% - 110px);
}
  #content .lesson-excercise {
   width: calc(100% - 5px);
  }
}
#content .demo
{
	width: 100%;
	height: calc(100vh - 550px);
}
#content table {
	width: calc( 100% - 30px);
	margin: 15px;
  background-color: #e6ffff;
  text-align: left;
  border-collapse: collapse;
  border: 0;
}
#content table td, #content table th {
  padding: 7px 5px;
    border: 0;
}
#content table tr {
}
#content tr th:nth-child(even),#content tr td:nth-child(even){
  background: rgba(129, 212, 250,0.25);

}
#content table td {
  text-align: center;
    border: 0;
}
#content table tbody td {
  font-size: 13px;
}
#content table tr:nth-child(even) {
  background: #b3e5fc;
}
#content table thead {
	background: #82b3c9;
}
#content table thead th {
	font-family: montserrat;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}



#content .examples
{
	 list-style-type: none;
  margin: 0;
  padding: 0;
	width: 100%;
	overflow-y: scroll;
	height: 200px;
}
#content .examples li {
	 display: inline-block;
	 margin-bottom: 4px !important;
}
#content .examples li a {
  display: block;
  width: 200px;
  background-color: #e0792b;
  font-size: 15px;
  color: #fff !important;
}
#content .examples li a:hover {
  background-color: #d35a19;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}