/* --------- navigation ---------*/
#nav {
	width: 100%;
	height: 70px;
}

#nav-back{
	position: absolute;
	top:0px
	left: 0px;
}
.menu {
    width: 100%;
    height: 70px;
  border: 1px solid #f00;
}
text{
 	-webkit-transition: fill 3.5s ease;
 	-moz-transition: fill 3.5s ease;
 	-o-transition: fill 3.5s ease;
 	transition: fill 3.5s ease;	 
}


