/* --------- content ---------*/
#table-of-contents 
{
	padding-right: 15px;
}
#table-of-contents section{
	background-color: #fff;
	padding: 0px;
	margin-bottom: 15px;
	background-position: center bottom; 
	background-repeat: repeat-x;
	border-radius: 0 25px 25px 0;
	text-align: left;
	overflow: hidden;
	 font-family: 'Montserrat', sans-serif;
	 position: relative;
}
#table-of-contents h2{
	background-color: #43a047;
	color: #fff;
	padding: 10px 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	column-span: all;
	margin-top:0;
	margin-bottom:5px;
}
#table-of-contents ul{
	padding: 0;
	margin:0;
    list-style-type: none;
	margin-bottom: 15px;
}

#table-of-contents ul li a{
	font-size: 13px;
	width: 100%;
	overflow: hidden;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
	text-decoration: none;
	color: #1b5e20 !important;
}
#table-of-contents li>a {
    color: rgba(0,0,0,0.87);
    display: block;
	border-bottom: 1px solid #eee;
}

.TOC-button{
	font-size: 10px;
	padding: 20px 0px 0px 40px;
	cursor: pointer;
	line-height: 12px;
}
.TOC-button:hover{
	color: #1b5e20;
}
.TOC-indicator{
	background-color: #00701a;
	width: 5px;
	height: 10px;
	left: 15px;
	transition: top 0.5s ease 0s;
	top: 50; /* start out at position 0 */
	position: absolute;
}


